<div
    data-controller="filter"
    data-filter-month-value="{{ month }}"
    data-filter-year-value="{{ year }}"
    data-filter-dropdown-month-value="{{ month }}"
    data-filter-dropdown-year-value="{{ year }}"
    class="p-2"
>
    <form
        action="{{ path('app_frontend_index') }}"
        data-turbo-frame="list"
        data-filter-target="form"
        class="flex flex-row"
    >
        <button data-action="click->filter#prev" class="btn-monthpicker-navigate p-1 px-2 me-1 text-xs font-medium text-center text-gray-600 rounded bg-gray-100 hover:bg-gray-200 border border-gray-300" type="button">prev</button>

        {% include 'frontend/_monthPicker.html.twig' %}

        <button data-action="click->filter#next" class="btn-transaction-filter-navigate p-1 px-2 me-4 text-xs font-medium text-center text-gray-600 rounded bg-gray-100 hover:bg-gray-200 border border-gray-300" type="button">next</button>
    </form>
</div>
