{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex w-full flex-row bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        {% include 'frontend/_filter.html.twig' %}

        <div class="flex-1"></div>
    </div>

    <turbo-frame
        id="list"
        class="aria-busy:opacity-50 aria-busy:blur-sm transition-all"
    >
        <table class="w-full table-auto divide-y divide-gray-200 dark:divide-gray-600">
            <thead>
            <th scope="col" class="sticky top-0 p-2 text-xs font-medium text-left text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700">
                Datum
            </th>
            <th scope="col" class="sticky top-0 p-2 text-xs font-medium text-center text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700">
                Kommen
            </th>
            <th scope="col" class="sticky top-0 p-2 text-xs font-medium text-center text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700">
                Gehen
            </th>
            <th scope="col" class="sticky top-0 p-2 text-xs font-medium text-center text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700">
                Differenz
            </th>
            <th scope="col" class="sticky top-0 p-2 pr-4 text-xs font-medium text-right text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700">
                Soll
            </th>
            <th scope="col" class="sticky top-0 p-2 pr-4 text-xs font-medium text-right text-gray-500 dark:text-gray-400 bg-gray-200 dark:bg-gray-700">
                Ist
            </th>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
            {% for timeLog in timeLogs %}
                {% if timeLog.created|date('N') == 7 or timeLog.created|date('N') == 6 %}
                    <tr class="border-b dark:border-gray-700 dark:hover:bg-gray-600 bg-gray-100">
                        <td class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {{ timeLog.date }}
                        </td>
                        <td colspan="5" class="p-1 px-2 text-xs text-center font-bold text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.publicHoliday is not empty %}{{ timeLog.publicHoliday }}{% endif %}
                        </td>
                    </tr>
                {% elseif timeLog.publicHoliday is not empty %}
                    <tr class="border-b dark:border-gray-700 dark:hover:bg-gray-600 bg-gray-100">
                        <td class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {{ timeLog.date }}
                        </td>
                        <td colspan="2" class="p-1 px-2 text-xs text-center font-bold text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {{ timeLog.publicHoliday }}
                        </td>
                        <td class="p-1 px-2 text-xs font-normal text-center text-gray-600 whitespace-nowrap dark:text-gray-400">

                        </td>
                        <td class="p-1 px-2 pr-4 text-xs font-normal text-right text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.weekSumPlan > 0 %}{{ timeLog.weekSumPlan }}{% endif %}
                        </td>
                        <td class="p-1 px-2 pr-4 text-xs font-normal text-right text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.weekSum > 0 %}{{ timeLog.weekSum }}{% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="border-b dark:border-gray-700 dark:hover:bg-gray-600">
                        <td class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {{ timeLog.date }}
                        </td>
                        <td class="p-1 px-2 text-xs font-normal text-center text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.checkin_time is not empty %}{{ timeLog.checkin_time|date('H:i') }}{% endif %}
                        </td>
                        <td class="p-1 px-2 text-xs font-normal text-center text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.checkout_time is not empty %}{{ timeLog.checkout_time|date('H:i') }}{% endif %}
                        </td>
                        <td class="p-1 px-2 text-xs font-normal text-center text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.diff is not empty %}{{ timeLog.diff }}{% endif %}
                        </td>
                        <td class="p-1 px-2 pr-4 text-xs font-normal text-right text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.weekSumPlan > 0 %}{{ timeLog.weekSumPlan }}{% endif %}
                        </td>
                        <td class="p-1 px-2 pr-4 text-xs font-normal text-right text-gray-600 whitespace-nowrap dark:text-gray-400">
                            {% if timeLog.weekSum > 0 %}{{ timeLog.weekSum }}{% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="5" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </turbo-frame>
{% endblock %}
